.search-item {
  border-radius: 5px;
  background-color: #f1faee;
  color: #e63946;
  margin: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.search-item img {
  width: 75px;
  height: 111px;
  border-radius: 2px;
}

.search-item .search-item-data {
  padding-top: 10px;
  padding-left: 7px;
  text-align: left;
  display: grid;
  grid-template-rows: auto auto;
}

.search-item .search-item-data .title {
  color: #457b9d;
  font-weight: bold;
  font-size: 20px;
}

.search-item .search-item-data .meta {
  font-size: 14px;
}
