.ingredientsroweditable-main {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: auto auto auto;
}

.ingredientsroweditable-main-error {
  color: red;
  grid-column: 1/4;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.editablerecipe-name-recipe {
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.25em;
}
.ingredientsroweditable-add-button-wrapper {
  grid-column: 1/4;
  text-align: center;
}
.ingredientsroweditable-add-button {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredientsroweditable-ingredients-title {
  grid-column: 1/4;
  margin-bottom: 7px;
  text-align: center;
  font-weight: bold;
}
