.newrecipe-main {
  width: 600px;
  background-color: #e3eced;
  padding: 25px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newreceipe-content {
}

.newreceipe-save {
  margin-bottom: 10px;
}
.newreceipe-back {
  border: 1px solid #1d3557;
  color: #1d3557;
  background-color: white;
  font-size: 24px;
  border-radius: 5px 5px 5px 5px;
}
